.div {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    display: block;
    width: 90%;
    height: 35px;
    font-size: 1em;
    margin: 0 auto;
    text-transform: none;
}

textarea {
    display: block;
    width: 90%;
    height: 360px;
    overflow-Y: scroll;
    resize: none;
    font-size: 1rem;
    margin: 0 auto
}

button {
    margin-top: 10px;
    width: 90%;
    height: 35px;
    display: block;
    margin: 0 auto;
}

.addcointainer {
    width: 100%;
}

.addcointainer p {
    padding: 10px;
    margin: 0px;
}

@media(max-width:500px) {
    textarea {
        height: 300px;
    }
}